---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://clawdrop.org/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://clawdrop.org/learn/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://clawdrop.org/blueprints/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://clawdrop.org/submit/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
  </url>
  {%- for post in collections.learn %}
  <url>
    <loc>https://clawdrop.org{{ post.url }}</loc>
    <lastmod>{{ post.date | readableDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  {%- endfor %}
  {%- for post in collections.blueprints %}
  <url>
    <loc>https://clawdrop.org{{ post.url }}</loc>
    <lastmod>{{ post.date | readableDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {%- endfor %}
  {%- for post in collections.archives %}
  <url>
    <loc>https://clawdrop.org{{ post.url }}</loc>
    <lastmod>{{ post.date | readableDate }}</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.6</priority>
  </url>
  {%- endfor %}
</urlset>
